<!-- Cuando el credito no es disponible se coloca la clase credit-unavailable como se ve abajo-->
<div class="credit-minicart-container">
    <div class="credit-minicart">
        <div class="credit-minicart__label">
            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 1H3C1.89543 1 1 1.89543 1 3V15C1 16.1046 1.89543 17 3 17H21C22.1046 17 23 16.1046 23 15V3C23 1.89543 22.1046 1 21 1Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 7H23" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <!-- ko i18n: 'Credit Available' --><!-- /ko -->
        </div>
        <div class="credit-minicart__value">
            <span data-bind="text: getAvailableCredit()"></span>
        </div>
    </div>
    <!-- ko if: canPay() -->
    <p class="credit-sidenote">
        <!-- ko i18n: 'If you exceed you can pay on cash' --><!-- /ko -->
    </p>
    <!-- /ko -->

    <!-- ko ifnot: canPay() -->
    <p class="credit-sidenote">
        <b>
            <!-- ko i18n: 'You have exceded your credit.' --><!-- /ko -->
        </b>
        <!-- ko i18n: 'Do not worry.' --><!-- /ko -->
        <b>
            <!-- ko i18n: 'You can pay in cash.' --><!-- /ko -->
        </b>
    </p>
    <!-- /ko -->

</div>
