<div class="offices">
    <div>
        <div class="title">
            <h5>
                <!-- ko i18n: 'Source selected' --><!-- /ko -->
            </h5>
            <p>
                <!-- ko i18n: 'Your order will be ready to be picked up in:' --><!-- /ko -->
            </p>
            <h4>
                <span class="title" data-bind="text: getSourceName()"></span>
            </h4>
        </div>
    </div>
    <div>
        <div class="address">
            <span class="address" data-bind="text: getAddress()"></span>
            <span class="address" data-bind="text: getCity()"></span>
        </div>
    </div>
</div>
