<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
		<plugin disabled="false" name="Aventi_SAP_Plugin_Magento_Checkout_Block_Checkout_LayoutProcessor" sortOrder="10" type="Aventi\SAP\Plugin\Magento\Checkout\Block\Checkout\LayoutProcessor"/>
	</type>
	<preference for="Aventi\SAP\Api\IdentificationManagementInterface" type="Aventi\SAP\Model\IdentificationManagement"/>
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="Product" xsi:type="object">Aventi\SAP\Console\Command\Product</item>
				<item name="Stock" xsi:type="object">Aventi\SAP\Console\Command\Stock</item>
				<item name="Price" xsi:type="object">Aventi\SAP\Console\Command\Price</item>
				<item name="SycnOrder" xsi:type="object">Aventi\SAP\Console\Command\SycnOrder</item>
				<item name="OrderSent" xsi:type="object">Aventi\SAP\Console\Command\OrderSent</item>
				<item name="CustomerAddress" xsi:type="object">Aventi\SAP\Console\Command\CustomerAddress</item>
				<item name="Customer" xsi:type="object">Aventi\SAP\Console\Command\Customer</item>
				<item name="Cities" xsi:type="object">Aventi\SAP\Console\Command\ImportCities</item>
				<item name="TestEmail" xsi:type="object">Aventi\SAP\Console\Command\TestEmail</item>
				<item name="DraftStatus" xsi:type="object">Aventi\SAP\Console\Command\DraftStatus</item>
			</argument>
		</arguments>
	</type>
	<type name="Aheadworks\Ca\Controller\User\SavePost">
		<plugin disabled="false" name="Aventi_SAP_Plugin_Aheadworks_Ca_Controller_User_SavePost" sortOrder="10" type="Aventi\SAP\Plugin\Aheadworks\Ca\Controller\User\SavePost"/>
	</type>
	<type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="Aventi_SAP_Plugin_Magento_Checkout_Model_ShippingInformationManagment" type="Aventi\SAP\Plugin\Magento\Checkout\Model\ShippingInformationManagement" sortOrder="1"/>
    </type>
     <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="Aventi\SAP\Model\Mail\Template\AddEmailAttachment" />
</config>
