<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aventi" translate="label" sortOrder="999">
            <label>Aventi</label>
        </tab>
        <section id="location" translate="label" type="text" sortOrder="1010" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Default Location Popup</label>
            <tab>aventi</tab>
            <resource>Aventi_LocationPopup::aventi_location_popup_configuration</resource>
            <group id="config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="country" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>

                <field id="region" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>State</label>
                    <source_model>Aventi\LocationPopup\Model\Config\Source\RegionList</source_model>
                    <validate>required-entry</validate>                                 
                </field>

                <field id="city" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>City</label>                    
                    <validate>required-entry</validate>                                  
                </field>

                <field id="postcode" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postal Code</label>                    
                    <validate>required-entry</validate>                                                             
                </field>
                
            </group>
        </section>
    </system>
</config>