<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Aventi\PriceByCity\Api\StorePriceRepositoryInterface" type="Aventi\PriceByCity\Model\StorePriceRepository"/>
	<preference for="Aventi\PriceByCity\Api\Data\StorePriceInterface" type="Aventi\PriceByCity\Model\Data\StorePrice"/>
	<preference for="Aventi\PriceByCity\Api\Data\StorePriceSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>	
	<preference for="Aventi\PriceByCity\Api\PriceByCityRepositoryInterface" type="Aventi\PriceByCity\Model\PriceByCityRepository"/>
	<preference for="Aventi\PriceByCity\Api\Data\PriceByCityInterface" type="Aventi\PriceByCity\Model\Data\PriceByCity"/>
	<preference for="Aventi\PriceByCity\Api\Data\PriceByCitySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Aventi\PriceByCity\Api\CityInventoryEquivalenceRepositoryInterface" type="Aventi\PriceByCity\Model\CityInventoryEquivalenceRepository"/>
	<preference for="Aventi\PriceByCity\Api\Data\CityInventoryEquivalenceInterface" type="Aventi\PriceByCity\Model\Data\CityInventoryEquivalence"/>
	<preference for="Aventi\PriceByCity\Api\Data\CityInventoryEquivalenceSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<type name="Magento\Quote\Model\Quote">
        <plugin name="prevent_add_to" type="Aventi\PriceByCity\Plugin\Quote\Model\Quote"/>
    </type>	
	<preference for="Magento\Checkout\Block\Checkout\AttributeMerger" type="Aventi\PriceByCity\Block\Checkout\AttributeMerger" />
</config>
