<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="aventi_credit" id="aventi_credit">
			<module before="Magento_Backend" name="Aventi_Credit"/>
		</route>
	</router>
</config>
